[data-theme='dark'] {
  --RN-Premier-Blue-100: #60a5fa;
  --RN-Premier-Silver-100: #93a3b3;
  --RN-Blue-10: #072033;
  --RN-Blue-20: #0b2d49;
  --RN-Blue-30: #0f3a60;
  --RN-Blue-40: #124777;
  --RN-Blue-50: #16538d;
  --RN-Blue-60: #1a61a8;
  --RN-Blue-70: #1f73c7;
  --RN-Blue-80: #2b84db;
  --RN-Blue-90: #3b96ea;
  --RN-Blue-100: #51a7f0;
  --RN-Blue-200: #6bb5f4;
  --RN-Blue-300: #86c3f7;
  --RN-Blue-400: #a7d4fb;
  --RN-Blue-500: #c8e6ff;
  --RN-Light-Blue-10: #072533;
  --RN-Light-Blue-100: #7ad9ff;
  --RN-Red-10: #3a1011;
  --RN-Red-20: #4a1517;
  --RN-Red-30: #5b1b1d;
  --RN-Red-40: #6b2124;
  --RN-Red-50: #7c282b;
  --RN-Red-60: #8d2f33;
  --RN-Red-70: #a13a3f;
  --RN-Red-80: #bd4a4f;
  --RN-Red-90: #d65b60;
  --RN-Red-100: #ef6a6d;
  --RN-Red-200: #ff7b7e;
  --RN-Red-300: #ff999b;
  --RN-Red-400: #ffb7b8;
  --RN-Red-500: #ffd4d5;
  --RN-Green-10: #0e2a10;
  --RN-Green-20: #133515;
  --RN-Green-30: #17401a;
  --RN-Green-40: #1c4b1f;
  --RN-Green-50: #205625;
  --RN-Green-60: #266b2d;
  --RN-Green-70: #2f8238;
  --RN-Green-80: #399a44;
  --RN-Green-90: #45b151;
  --RN-Green-100: #55c261;
  --RN-Orange-10: #3a1e08;
  --RN-Orange-20: #48270a;
  --RN-Orange-30: #56300c;
  --RN-Orange-40: #643a0e;
  --RN-Orange-50: #724311;
  --RN-Orange-60: #8c5316;
  --RN-Orange-70: #a5631a;
  --RN-Orange-80: #be741e;
  --RN-Orange-90: #d78422;
  --RN-Orange-100: #ef9426;
  --RN-Purple-10: #211d33;
  --RN-Purple-20: #2a2540;
  --RN-Purple-30: #322d4d;
  --RN-Purple-40: #3b355a;
  --RN-Purple-50: #433d67;
  --RN-Purple-60: #504b7c;
  --RN-Purple-70: #5d5892;
  --RN-Purple-80: #6c67a6;
  --RN-Purple-90: #7b76b8;
  --RN-Purple-100: #8a85c9;
  --RN-Base-0: #0b0c0f;
  --RN-Base-10: #111318;
  --RN-Base-20: #161922;
  --RN-Base-30: #1c202b;
  --RN-Base-40: #232838;
  --RN-Base-50: #2b3045;
  --RN-Base-60: #343a54;
  --RN-Base-70: #3d4463;
  --RN-Base-80: #475072;
  --RN-Base-90: #515c82;
  --RN-Base-100: #5b6892;
}
