[data-theme='default'] {
  --RN-Premier-Blue-100: #002353;
  --RN-Premier-Silver-100: #c1cdd8;
  --RN-Navbar-Bg: var(--RN-Blue-80);
  --RN-Blue-10: #ebf7ff;
  --RN-Blue-20: #def1ff;
  --RN-Blue-30: #bbe3ff;
  --RN-Blue-40: #99d4ff;
  --RN-Blue-50: #78c5ff;
  --RN-Blue-60: #5cb5f9;
  --RN-Blue-70: #3d9ee9;
  --RN-Blue-80: #258bdd;
  --RN-Blue-90: #0b77ca;
  --RN-Blue-100: #0067b1;
  --RN-Blue-200: #0158a0;
  --RN-Blue-300: #004b90;
  --RN-Blue-400: #003d75;
  --RN-Blue-500: #003362;
  --RN-Light-Blue-10: #eff9fd;
  --RN-Light-Blue-20: #d9f3fb;
  --RN-Light-Blue-30: #c3edf9;
  --RN-Light-Blue-40: #ade7f7;
  --RN-Light-Blue-50: #97e1f5;
  --RN-Light-Blue-60: #81dbf3;
  --RN-Light-Blue-70: #6bd5f1;
  --RN-Light-Blue-80: #55cfef;
  --RN-Light-Blue-90: #3fc9ed;
  --RN-Light-Blue-100: #5bc2e7;
  --RN-Yellow-10: #fffbeb;
  --RN-Yellow-20: #fef3c7;
  --RN-Yellow-30: #fde68a;
  --RN-Yellow-40: #fcd34d;
  --RN-Yellow-50: #fbbf24;
  --RN-Yellow-60: #f59e0b;
  --RN-Yellow-70: #d97706;
  --RN-Yellow-80: #b45309;
  --RN-Yellow-90: #92400e;
  --RN-Yellow-100: #78350f;
  --RN-Red-10: #ffeeee;
  --RN-Red-20: #fed7db;
  --RN-Red-30: #fec0c9;
  --RN-Red-40: #fda9b6;
  --RN-Red-50: #fc91a3;
  --RN-Red-60: #fc7a91;
  --RN-Red-70: #fb637e;
  --RN-Red-80: #f85a6f;
  --RN-Red-90: #f55160;
  --RN-Red-100: #ef3e42;
  --RN-Red-200: #d72f32;
  --RN-Red-300: #bf1f21;
  --RN-Red-400: #a61011;
  --RN-Red-500: #860000;
  --RN-Green-10: #f0f9ed;
  --RN-Green-20: #e2f3db;
  --RN-Green-30: #d3edc9;
  --RN-Green-40: #c4e7b7;
  --RN-Green-50: #b5e1a4;
  --RN-Green-60: #a7da92;
  --RN-Green-70: #98d480;
  --RN-Green-80: #89ce6e;
  --RN-Green-90: #7bc85c;
  --RN-Green-100: #6cc24a;
  --RN-Green-200: #54af30;
  --RN-Green-300: #2b8809;
  --RN-Green-400: #065c00;
  --RN-Green-500: #004300;
  --RN-Orange-10: #fff4eb;
  --RN-Orange-20: #fdebda;
  --RN-Orange-30: #fbe2c9;
  --RN-Orange-40: #f9d8b9;
  --RN-Orange-50: #f7cfa8;
  --RN-Orange-60: #f4c697;
  --RN-Orange-70: #f2bd86;
  --RN-Orange-80: #f0b376;
  --RN-Orange-90: #eeaa65;
  --RN-Orange-100: #eca154;
  --RN-Orange-200: #eb8a22;
  --RN-Orange-300: #ed6c1c;
  --RN-Orange-400: #de4e01;
  --RN-Orange-500: #c0410b;
  --RN-Purple-10: #f9f7ff;
  --RN-Purple-20: #e7e4f4;
  --RN-Purple-30: #d7d3e9;
  --RN-Purple-40: #c6c3df;
  --RN-Purple-50: #b6b3d4;
  --RN-Purple-60: #a6a3c9;
  --RN-Purple-70: #9692be;
  --RN-Purple-80: #8682b3;
  --RN-Purple-90: #7572a9;
  --RN-Purple-100: #615e9b;
  --RN-Purple-200: #555193;
  --RN-Purple-300: #48448b;
  --RN-Purple-400: #3c3782;
  --RN-Purple-500: #2f2a7a;
  --RN-Base-0: #ffffff;
  --RN-Base-10: #eef0f2;
  --RN-Base-20: #e0e4e9;
  --RN-Base-30: #c4cdd2;
  --RN-Base-40: #9aa3aa;
  --RN-Base-50: #818c95;
  --RN-Base-60: #687480;
  --RN-Base-70: #4f5d6b;
  --RN-Base-80: #354655;
  --RN-Base-90: #1c2f40;
  --RN-Base-100: #03182b;
}
