/* rn-carousel.css */
.slick-dots li button:before {
  color: var(--RN-Base-40);
  opacity: 0.6;
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  color: var(--RN-Blue-100);
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  content: '';
}
